/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"); */

@font-face {
  font-family: "verdana_1";
  src: local("verdana_1"), url("../assets/verdana_1.ttf") format("ttf");
}

:root {
  --swiper-navigation-size: 11px !important;
  /* --swiper-navigation-color: var(--swiper-theme-color); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  line-height: 1.6;
  font-family: "Verdana";
}

ul {
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.rec-dot_active {
  background-color: black !important;
  box-shadow: 0 0 1px 1px #fbcb57 !important;
}

.rec-dot {
  box-shadow: black 0px 0px 1px 1px !important;
}
.rec-dot:hover {
  background-color: black !important;
}

.rec-arrow-right {
  position: absolute !important;
  bottom: -45px !important;
  right: calc(50% - 105px) !important;
  /* position: relative !important;
  top: 372px !important;
  right: 460px !important; */
  background-color: white !important;
  height: 40px !important;
  width: 40px !important;
  border: 1px solid black !important;
}

.rec-arrow {
  line-height: 0px !important;
  min-width: 0px !important;
  font-size: 1em !important;
}

.rec-arrow-left {
  background-color: white !important;
  height: 40px !important;
  width: 40px !important;
  border: 1px solid black !important;
  position: absolute !important;
  bottom: -44px !important;
  left: calc(50% - 110px) !important;
}

.rec-arrow:hover:enabled,
.rec-arrow:focus:enabled {
  background-color: white !important;
  color: black !important;
}

.record-item-wrapper img {
  z-index: -999 !important;
}

.rec-carousel {
  position: relative !important;
}

.lb-closeContainer {
  display: none;
}

.lb-container img {
  border: none !important;
}

.lb-details span {
  display: none !important;
}

.carousel-image {
  aspect-ratio: 1.5 !important;
  object-fit: cover !important;
}

.swiper-wrapper {
  z-index: -5 !important;
}

.swiper-slide {
  height: initial !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons !important;
  font-size: 11px !important;
  text-transform: none !important;
  letter-spacing: 0 !important;
  border: 2px solid black !important;
  border-radius: 50% !important;
  width: 21px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 21px !important;
  padding: 7px !important;
  text-transform: none !important;
  font-variant: initial !important;
  /* line-height: 1; */
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-next {
  position: absolute !important;
  top: 92% !important;
  right: calc(50% - 115px) !important;
  /* bottom: -36px; */
  width: 42px !important;
  height: var(--swiper-navigation-size) !important;
  margin-top: -14px !important;
  z-index: 10 !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: black !important;
}

.swiper-button-prev {
  position: absolute !important;
  top: 92% !important;
  left: calc(50% - 115px) !important;
  /* bottom: -36px; */
  width: 42px !important;
  height: var(--swiper-navigation-size) !important;
  margin-top: -14px !important;
  z-index: 10 !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: black !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 44px !important;
  left: 0 !important;
  width: 100% !important;
}
