/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"); */

@font-face {
  font-family: "verdana_1";
  src: local("verdana_1"), url("../assets/verdana_1.ttf") format("ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  line-height: 1.6;
  font-family: "Verdana";
}

ul {
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.rec-dot_active {
  background-color: black !important;
  box-shadow: 0 0 1px 1px #fbcb57 !important;
}

.rec-dot {
  box-shadow: black 0px 0px 1px 1px !important;
}
.rec-dot:hover {
  background-color: black !important;
}

.rec-arrow-right {
  position: absolute !important;
  bottom: -45px !important;
  right: calc(50% - 105px) !important;
  /* position: relative !important;
  top: 372px !important;
  right: 460px !important; */
  background-color: white !important;
  height: 40px !important;
  width: 40px !important;
  border: 1px solid black !important;
}

.rec-arrow {
  line-height: 0px !important;
  min-width: 0px !important;
  font-size: 1em !important;
}

.rec-arrow-left {
  background-color: white !important;
  height: 40px !important;
  width: 40px !important;
  border: 1px solid black !important;
  position: absolute !important;
  bottom: -44px !important;
  left: calc(50% - 110px) !important;
}

.rec-arrow:hover:enabled,
.rec-arrow:focus:enabled {
  background-color: white !important;
  color: black !important;
}

.record-item-wrapper img {
  z-index: -999 !important;
}

.rec-carousel {
  position: relative !important;
}

.lb-closeContainer {
  display: none;
}

.lb-container img {
  border: none !important;
}

.lb-details span {
  display: none !important;
}

.carousel-image {
  aspect-ratio: 1.5 !important;
  object-fit: cover !important;
}
