/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"); */

@font-face {
  font-family: "verdana_1";
  src: local("verdana_1"), url("../assets/verdana_1.ttf") format("ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  line-height: 1.6;
  font-family: 'Verdana';
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.rec-arrow-right {
 display: none !important;
}


.rec-arrow-left {
  display: none !important;
 }