.navbar {
  background-color: white;
  color: black;
  height: 100px;
  box-shadow: 0 1px 0.2;
  /* border: 1px solid; */
  box-shadow: 5px 3px 8px #9999;
}

.navCont {
  max-width: 1337px;
  margin: 0 auto;
  padding: 0px 50px;
  /* padding-top: 20px; */
  padding: 0 50px;
}

.navFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

li {
  list-style-type: none;
}

.navFlex ul li {
  padding: 10px;
  margin: 0 20px;
}

/* .navbar ul li {
  font-size: 15px;
  padding: 0 65px;
  margin: 0 5px;
} */

.headerh1 {
  font-size: 31px;
  font-weight: 600;
  /* margin-top: 79px; */

  /* display: flex;
  align-items: center;
  gap: 10px; */
}

.headerDot {
  display: inline-block;
  margin-bottom: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: black;
}

.doveStyle > svg > path {
  fill: blue;
}

.mediah2 {
  display: none;
}
.headerh2 {
  display: block;
  font-size: 32px;

}

.headerBird {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 20px;
  font-weight: bolder;
}

.logoContainer {
    width: 50px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}
.hamburger{
  width: 80%
}
/* Mobile */
@media (max-width: 500px) {
  .mediah2 {
    display: block;
    font-size: 20px;
  }
  .headerh2 {
    display: none;
  }
  .navCont {
    padding: 0 0px;
  }
  .headerDot {
    display: inline-block;
    margin-bottom: 4px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: black;
  }
  .logoContainer {
    width: 45px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
  }
  .hamburger{
    width: 80%
  }
}
