.showcase {
  background-color: #e5e5e5;
  /* margin-top: -19px; */
}

.profileCard {
  background-color: #fff;
  max-width: 70%;
  margin: 20px auto;
  padding: 16px;
}

.profilesCard {
  overflow: hidden;
  background-color: #fff;
  padding: 16px;
}

.profilesCard:hover {
  box-shadow: 0px 0px 4px 5px #cac5c5;
}

.profilesCard:hover img {
  transform: scale(1.1);
  transform-origin: center;
}

.profilesCard:hover h3 {
  color: red
}

.list-images {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
  background-position: center top !important;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profileh1 {
  font-size: 31px;
  font-weight: 600;
  margin-top: 79px;

  /* display: flex;
  align-items: center;
  gap: 10px; */
}

.profileDot {
  display: inline-block;
  margin-bottom: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: black;
}

.hideIt {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.dataContainer {
  margin-top: 0px;
  padding-bottom: 40px;
}

.profilesCard img {
  transition: transform ease-in 0.3s;
}

/* .profilesCard img:hover {
  transform: scale(1.1);
  transform-origin: center;
} */

.imgWrapper {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1.5;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* .lightboxOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
} */

/* .lgksPe {
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6em;
  background-color: red;
  color: #333;
  box-shadow: 0 0 2px 0px #333;
  border-radius: 50%;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  outline: none;
} */

/* Mobile */
@media (max-width: 500px) {
  .profileCard {
    /* background-color: #fff; */
    max-width: 100%;
    margin: 2px auto;
    /* padding: 16px; */
  }
  .dataContainer {
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 40px;
  }
}
