.showcase {
  background-color: #e5e5e5;
  /* margin-top: -19px; */
}

.profileCard {
  background-color: #fff;
  max-width: 50%;
  /* margin-top: 40px;
  margin: 0 auto; */
  margin: 20px auto;
  padding: 16px;
  /* border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%); */
}

.profilesCard {
  background-color: #fff;
  /* max-width: 100%; */
  /* margin-top: 40px; */
  /* margin: 20px 30px 0px 50px; */
  padding: 16px;
  /* border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%); */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profileh1 {
  font-size: 31px;
  font-weight: 600;
  margin-top: 79px;

  /* display: flex;
  align-items: center;
  gap: 10px; */
}

.profileDot {
  display: inline-block;
  margin-bottom: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: black;
}

.hideIt {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
